<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand text-white">Product's store</a>
  
  <div class="btn-group" role="group" aria-label="Basic example">
    <button *ngIf='!sharedService.isLogged()' class="btn btn-dark my-2 my-sm-0"(click)="onRegister()">Register</button>
  <button *ngIf='!sharedService.isLogged()' class="btn btn-dark my-2 my-sm-0"(click)="onLogIn()">Login</button>
  <button *ngIf='sharedService.isLogged()' class="btn btn-dark my-2 my-sm-0"(click)="onLogout()">Logout</button>
  </div>
</nav>