.container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 250px));
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    margin: 0 auto;
    list-style: none;
    padding-top: 50px;
    justify-content: center
    
  }
  .container>.item {
    background-color: #e5ebff;
    word-wrap:break-word;
    padding: 3%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;
  }
  img {
    object-fit: cover;
    height: 235px;
    width: 235px;
    border-radius: 5px;
  }
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}
 .result{
   background-color: white;
 }
#custom-search-input .search-query {
    width:100%;
    padding-right: 3px;
    padding-left: 15px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: absolute;
    right:0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
    cursor: unset;
    z-index: 2;
}
 .result{
   margin-bottom: 20px;
 }

.under{
  max-width: 100%;
  max-height: 30%;
}
.image{
  width: 100%;
  height: 50%;
  position: relative;
}
.image .btn-lock {
  position: absolute;
  top: 90%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.267);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.image .btn-send {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.267);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.image .delete-add {
  position: absolute;
  top: 90%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.267);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.image .online {
  position: absolute;
  top: 5%;
  left: 95%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
  color: rgb(83, 255, 4);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.image .block:hover  {
  background-color: rgb(206, 18, 18);
}
.image .unlock:hover  {
  background-color: rgb(6, 209, 40);
}
.image .delete-add:hover  {
  background-color: rgb(6, 118, 209);
}
.image .send:hover  {
  background-color: rgb(202, 183, 12);
}
.image .dis:hover  {
  background-color: rgb(202, 183, 12);
  
}
.nav-link{
  padding: 0;
  color: rgba(8, 123, 255, 0.801)
}
h2{
  margin-left: 10px;
}
[data-tooltip]::after {
  content: attr(data-tooltip); 
    position: absolute; 
    width: 300px;
    left: 0; top: 0; 
    background: #3989c9; 
    color: #fff; 
    padding: 0.5em; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    pointer-events: none; 
    opacity: 0; 
    transition: 1s; 
}
[data-tooltip]:hover::after {
  opacity: 1; 
  top: 2em; 
 }
 .time_online{
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}