.container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    width: 90%;
    margin: 0 auto;
    list-style: none;
    align-content:center;
  }
  
  .container>.item {
    background-color: #e5ebff;
    word-wrap:break-word;
    padding: 3%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  img {
    object-fit: cover;
    border-radius:50%;
    width: 100px;
    height: 100px;

  }
  .container{
    padding-top: 50px;
    padding-left: 0;
}
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}
 
#custom-search-input .search-query {
    width:100%;
    padding-right: 3px;
    padding-left: 15px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: absolute;
    right:0;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
    cursor: unset;
    z-index: 2;
}
 .result{
   margin-bottom: 20px;
 }
 button{
  margin-left: 5px;
  margin-right:5px;
   border-radius: 50%; 
  color: aliceblue; 
  border: 1x solid rgb(255, 255, 255); 
  padding:10px; 
}
.block{
  background-color:#bd000b;
  
}
.unlock{
  background-color:#0c6800;
}
.delete-add{
  background-color:#083e6b;
}
