.container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 250px));
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    margin: 0 auto;
    list-style: none;
    padding-top: 50px;
    justify-content: center
    
  }
  .container>.item {
    background-color: #e5ebff;
    word-wrap:break-word;
    padding: 3%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  img {
    object-fit: cover;
    height: 235px;
    width: 235px;
  }
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}
 
#custom-search-input .search-query {
    width:100%;
    padding-right: 3px;
    padding-left: 15px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: absolute;
    right:0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
    cursor: unset;
    z-index: 2;
}
 .result{
   margin-bottom: 20px;
 }

.under{
  max-width: 100%;
  max-height: 30%;
}
.image{
  width: 100%;
  height: 50%;
  position: relative;
}
.image .btn-lock {
  position: absolute;
  top: 90%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.267);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.image .delete-add {
  position: absolute;
  top: 90%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.267);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.image .block:hover  {
  background-color: rgb(206, 18, 18);
}
.image .unlock:hover  {
  background-color: rgb(6, 209, 40);
}
.image .delete-add:hover  {
  background-color: rgb(6, 118, 209);
}
.nav-link{
  padding: 0;
  color: rgba(8, 123, 255, 0.801)
}