<form [formGroup]="service.formModelPassword" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group required">
    <label>Current password</label>
    <input type="password" class="form-control" formControlName="CurrentPassword" autocomplete="off">
    <label class="text-danger"
      *ngIf="service.formModelPassword.get('CurrentPassword').touched && service.formModelPassword.get('CurrentPassword').errors?.required">The
      field is empty</label>

  </div>
  <div formGroupName="Passwords">
    <div class="form-group required">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="NewPassword" autocomplete="off">
      <label class="text-danger"
        *ngIf="service.formModelPassword.get('Passwords.NewPassword').touched && service.formModelPassword.get('Passwords.NewPassword').errors?.required">The
        field is empty</label>
      <label class="text-danger"
        *ngIf="service.formModelPassword.get('Passwords.NewPassword').touched && service.formModelPassword.get('Passwords.NewPassword').errors?.minlength">Too
        little password</label>
    </div>
    <div class="form-group required">
      <label>Confirm password</label>
      <input type="password" class="form-control" formControlName="NewPasswordConfirm" autocomplete="off">
      <label class="text-danger"
        *ngIf="service.formModelPassword.get('Passwords.NewPasswordConfirm').touched && service.formModelPassword.get('Passwords.NewPasswordConfirm').errors?.required">The
        field is empty</label>
      <label class="text-danger"
        *ngIf="service.formModelPassword.get('Passwords.NewPasswordConfirm').touched && service.formModelPassword.get('Passwords.NewPasswordConfirm').errors?.passwordMismatch">Input
        the same password</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!service.formModelPassword.valid">
        Confirm
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['/home/page/profile']">
          Back
        </button>
    </div>
  </div>
</form>