<div class="container profile-container">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class='holder'>
                    <img *ngIf="userDetails" class="rounded" src="https://localhost:44331{{ userDetails.avatarPath }}">
                    <div class='block'>
                        <div class="imageNotif">
                            <h6>
                                <a [routerLink]="['/home/page/profile/avatarUpload']" class="btn btn-default">
                                    <i class="fa fa-upload"></i> Upload avatar</a>
                            </h6>
                        </div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>

            <div class="col-md-8">
                <div class="profile-head">
                    <h2>
                        {{userDetails?.name}} {{userDetails?.surname}}
                    </h2>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab"
                                aria-controls="edit" aria-selected="false">Edit</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="tab-content profile-tab" id="myTabContent" style="margin-top: 50px">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{userDetails?.name}}</p>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Surname</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{userDetails?.surname}}</p>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{userDetails?.email}}</p>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{userDetails?.phone}}</p>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                            <div class="container" style="max-width: 100%;">
                                <form class="form-horizontal" role="form" [formGroup]="service.formModel"
                                    autocomplete="off" (submit)="onSubmit()">
                                    <div class="form-group required row">
                                        <label class="col-sm-2 control-label">Name:</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" formControlName="Name"
                                                value="{{userDetails?.name}}">
                                                <label class="text-danger" *ngIf="service.formModel.get('Name').touched && service.formModel.get('Name').errors?.required">Input new name</label>
                                        </div>
                                    </div>
                                    <div class="form-group row required">
                                        <label class="col-sm-2 control-label">Surname:</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" formControlName="Surname"
                                                value="{{userDetails?.surname}}">
                                                <label class="text-danger" *ngIf="service.formModel.get('Surname').touched && service.formModel.get('Surname').errors?.required">Input new surname</label> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" [disabled]="!service.formModel.valid">
                                            Save
                                        </button>
                                    </div>
                                    
                                </form>
                                <button [routerLink]="['/home/page/profile/passwordChange']" class="btn btn-primary" style="margin: 0">
                                        Edit password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>