<div class="card m-5" style="width: 18rem" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Username:</strong> {{userDetails.userName}}
    </li>
    <li class="list-group-item">
        <strong>Name:</strong> {{userDetails.name}}
    </li>
    <li class="list-group-item">
        <strong>Surname:</strong> {{userDetails.surname}}
    </li>
    <li class="list-group-item">
        <strong>Email:</strong> {{userDetails.email}}
    </li>
    <li class="list-group-item">
        <strong>Phone:</strong> {{userDetails.phone}}
    </li>
  </ul>
</div>