<div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">                
                    <form #imageForm = ngForm (ngSubmit)="onImage(Image)"> 
                        <img src= "https://localhost:44331{{ userDetails?.avatarPath }}">
                        <input type="file" #Image accept="image/*" (change)="onSelected($event)">
                        <button type="submit" class="btn-large btn-submit">Submit</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                                <h2>
                                   {{userDetails?.name}} {{userDetails?.surname}}
                                </h2>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent" style="margin-top: 50px">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Name</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{userDetails?.name}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Surname</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{userDetails?.surname}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Email</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{userDetails?.email}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Phone</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{userDetails?.phone}}</p>
                                                </div>
                                            </div>
                                </div>
                            </div>
                            
                        </div>
                        <router-outlet></router-outlet>
                </div>
                <div class="col-md-2">
                        <a [routerLink]="['/home/page/profile/edit']" class="btn btn-default" data-toggle="button"  role="button" >
                            shsdhsdh</a>
                </div>
            </div>
        </form>           
    </div>