.container {
    display: grid;
    align-content:center;
  }

img {
    object-fit: cover;
    margin-top:20px;
    max-width: 100%;
    height: auto;
  }
  .btn-group-vertical{
    margin-top:100px;
    max-width: 100%;
    height: auto;
  }