<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <div class="sidebar-header">
        <img src="assets/img/logoHome.png" style="width: 270px">
    </div>
    <ul class="list-group">
        <a routerLink="./page/profile" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-home fa-fw mr-3"></span>
                <span class="menu-collapsed">Profile</span>
            </div>
        </a> 
        <a routerLink="./page/contacts" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-users fa-fw mr-3"></span>
                <span class="menu-collapsed">Contacts</span>
            </div>
        </a>
        <a routerLink="./page/dialogs" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-envelope-o fa-fw mr-3"></span>
                <span class="menu-collapsed">Dialogs</span>
            </div>
        </a>
    </ul>
</div>