.container {
    display: grid;
    align-content:center;
  }
  
  .container>.img {
    align-content:center;
  }
img {
    object-fit: cover;
    margin-top:20px;
align-self: center
  }
  .btn-group-vertical{
    margin-top:100px;
  }