.container {
    display: grid;
    align-content:center;
  }
img {
    object-fit: cover;
    margin: auto;
    margin-top:20px;
    max-width: 100%;
    height: auto;
  }
  .btn-group-vertical{
    margin-top:100px;
    max-width: 100%;
    height: auto;
  }

#sidebar-container {   
    padding: 0;
    width: 100%;
}
.sidebar-expanded {
    width: 230px;
    position:sticky;
    top:0;
    height: 100vh;
    background-image: url(../../../assets/img/blue-violet-motion-background-free-download-undesigns.jpg);
}
.sidebar-collapsed {
    width: 60px;
}

#sidebar-container .list-group a {
    height: 50px;
    color: white;
    
}
.list-group{
  margin-top:100px;
}
.list-group-item{
  /* background-color: #255688; #253b88*/
  background-color: #3b509a;
  margin-top: 5px;
  width: 80%;
  margin: auto;
  border-radius: 6px;
}
a:hover{
  background-color: #3d7ebe;
}
.sidebar-header{
  justify-content: center;
}
.footer{
  background-color: #2a2b2b99;
  height: 120px;
  margin-top: 530px;
  color: #ffffff87;
}

