<div style="margin-top: 30vh">
  <h3>MY CONTACTS:</h3>
  <div class="list-group">
    <div *ngFor="let contact of contacts">
      <button type="button" class="list-group-item list-group-item-action"(click)="onGet(contact.id)">
        <div class="row">
          <div class="col-sm-8">
            <img src="https://localhost:44331//{{contact?.contactImage}}">
          </div>
          <div class="col sm-4">
            <i class="fa fa-trash-o" (click)="onDelete(contact.id)"></i>
          </div>
        </div>
        <h6>{{contact?.contactName}}</h6>
      </button>
    </div>
  </div>
</div>