.container{
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  justify-content: space-between;
  padding: 0%
}
img {
    object-fit: cover;
    border-radius:50%;
    width: 40px;
    height: 40px;
  }
  h4{
    word-wrap: break-word
  }
  i{ 
    background-color: rgb(24, 22, 148); 
    border-radius: 50%; 
    color: aliceblue; 
    border: 1x solid rgb(255, 255, 255); 
    padding:10px; 
  }    
  .example-viewport {
    width:100%;
    height: 500px;
    border: 1px solid rgb(83, 83, 88);

  }
  
  .example-item {
    width:100%;
    height: 95px;
  }
  .list-group-item{
    padding: 3%
  }
  .nav-link{
    background-color: rgb(44, 99, 180);
    color: #fff
  }
  .nav-link.active{
    background-color: rgb(25, 21, 88);
    color: #fff
  }