form{
    max-width: 100%;
    margin-top: 10px;
}
input{
    max-width: 100%;
}
.btn-primary{
    background-color: #255688;
    border: none;
    width: 40%;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}