.container{
    background-color: #4c81b7;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 80%;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 10px;
}
.dialog{
    overflow: auto;
    background-color: #e0eaea;
    width: 100%;
    margin: auto;
    padding:5px;
    margin-top: 2;
    border-radius: 10px;
    height: 650px;
}
.messages-box{
    word-break: break-all;
}
.message-input{
    margin-top: 30px;

}
textarea{
    width: 100%
}
.row{
    margin: 0;
    padding:0;

}
/* .left{
    width: 45%;
    background-color: rgb(127, 159, 218);
    border-radius: 10px;
    margin-top: 5px;
}
.right{
    width: 45%;
    background-color: rgb(127, 200, 218);
    margin-left: 55%;
    border-radius: 10px;
    margin-top: 5px;
} */
.lil-avatar{
    object-fit: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%
}
.dialog-header-img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin:5px;
    border-radius: 50%;
}
.incoming_msg_img {
	display: inline-block;
	width: 6%;
}
.incoming_msg_img img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
    width: 92%;
    margin: 26px 0 0;
}
.received_message{
	background: #89c8e5 none repeat scroll 0 0;
	border-radius: 0 15px 15px 15px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.72);
}
.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}

.received_withd_msg {
	width: 57%;
}

.mesgs{
	float: left;
	padding: 30px 15px 0 25px;
	width:70%;
}

.outgoing_message{
	background:#0465ac;
	border-radius: 12px 15px 15px 0;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.72);
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.sent_msg {
	float: right;
	width: 46%;
}
.img-message{
    width: 100%;
    margin-top:10px
}

audio{
    width: 100%;
    margin-top:10px
}
video{
    width: 100%;
    margin-top:10px
}
.btn-primary{
    width: 95%;
    margin: auto;
    padding: 0
}
.btn-send{
    height: 90%
}
.custom-dropzone{
    height: 70px;
}
h3{
    margin-top: 10px;
    color: white;
}
.col{
    padding: 0
}
.col-sm-6{
    margin-left: 20px;
}
.user_shared{
    background: #e9f9fd;
    color: #1b1a18;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.72);
}
.blocked_under{
    color: #fff;
}
.resend{
    background-color: #e9f9fd;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.72);
    margin: 5px;
}
.resend-body{
    margin-left: 15%;
    margin-right: 5%;
    padding-right: 5px;
    padding-left: 5px;
}
.border-left{
    border-left: 2px solid #a5afb9!important
}
.border-bottom{
    border-bottom: 1px solid #96999c!important;
    color: #3f407b;
    font-size: 1.1rem;
}
.light-msg{
    color: #fff
}
.dark-msg{
    color: #1b1a18
}
.col-sm-7,.col-sm-5{
    margin: auto;
}

