h2 {
    font-weight: bold;
    color: rgb(135, 218, 233);
    transition: all 1s;
}
h2:hover {
    font-weight: bold;
    color: rgb(246, 248, 248);
}
img {
    object-fit: cover;
    border-radius:50%;
    width: 40px;
    height: 40px;
    align-self: center
}
h5{
  margin: auto;
  margin-left: 10px;
    color: rgb(255, 255, 255)
}
form{
    width: 50%;
}
  .navbar-dark{
    background-color: #255688;

  }
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #f1f1f1;
    height: 40px;
    border-radius: 10px 0px 0px 10px
  }

  form.example button {
    float: left;
    background: #338fb3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
    height: 40px;
    border-radius: 0px 10px 10px 0px
  }
  
  form.example button:hover {
    background: #59a7c5;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .row{
    margin-left: 10px
  }