<ng-container *ngFor="let blockedUser of blockedUsers" class="example-item">
    <div class="row contact">
        <div class="col-sm-2">
          <img *ngIf="blockedUser" src="https://localhost:44331//{{blockedUser?.userAvatar}}">
        </div>
        <div class="col sm-7">
          <h6>{{blockedUser?.friendName}} {{blockedUser?.friendSurname}}</h6>
          <h6> <small><i class="fa fa-phone"></i> {{blockedUser?.friendPhone}}</small> </h6>
          <h6> <small><i class="fa fa-envelope"></i> {{blockedUser?.friendEmail}}</small> </h6>
        </div>
          <button type="button" class="btn btn-success" (click)="onUnblock(blockedUser.friendId)">
            <i class="fa fa-unlock"> </i>
          </button>
      </div>
  </ng-container>