.page{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    background-color: #dcedf5;
}
.row-page{
    margin-left: 0%;
    width: 100%
}
.contacts{
    height: 94vh;
    background-color: #35679a;
    padding-left: 0;
    padding-right: 0;
}
.main{
    padding: 0px;
}
.screen{
    margin-left: 0;
    width:100%;
}
.sidebar{
    background: #052a50;
    padding: 10px
}