.page{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    background-color: #dcedf5;
}
.row-page{
    margin-left: 0%;
}
.contacts{
    height: 94vh;
    background-color: #b0d4f7;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main{
    padding: 0px;
}