.contact{
    max-width: 100%;
    background-color: rgb(61, 91, 156);
    word-break: break-all;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
img {
    object-fit: cover;
    border-radius:50%;
    width: 100px;
    height: 100px;
   align-self: center;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   border: 2px solid #ffffff;
  }
  h4{
      color: white;
  }
  h6{
    color: white;
}