<div class="contact">
  <div class="row">
    <div class="col-sm-8">
      <img *ngIf="contact" src="https://localhost:44331{{contact.contactImage}}" />
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-danger" (click)="onBlock(contact.friendId)">
            <i class="fa fa-ban"> </i>
          </button>
          <button type="button" class="btn btn-primary" (click)="onDelete(contact.id)">
            <i class="fa fa-minus"> </i>
          </button>
          <button type="button" [routerLink]="['/home/page/dialog/user?', contact.friendId]" class="btn btn-warning">
              <i class="fa fa-envelope"> </i>
            </button>
    </div>
  </div>
  <a [routerLink]="['/home/page/user', contact.friendId]" class="nav-link">
    <h5>{{contact.contactName}}</h5>
  </a>

  <h6><small><i class="fa fa-phone"></i> {{contact?.friendPhone}}</small></h6>
  <h6><small><i class="fa fa-envelope"></i> {{contact?.friendEmail}}</small></h6>
</div>